* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
     /* CSS HSL */
     --tea-green: hsla(74, 70%, 82%, 1);
     --flax: hsla(53, 62%, 71%, 1);
     --gold-fusion: rgb(110, 94, 65);
     background-color: var(--tea-green);
     color: var(--gold-fusion);
}

body, header, aside, main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    margin: 2vw;
}

main, section, p, footer {
    margin: 1vw;
    padding: 1vw;
}

img {
    float: right;
    margin: 2vw;
    width: 45%;
}

button {
    border-radius: 1vw;
    outline: none;
    margin: 2vw;
    padding: 1.5vw;
    font-size: large;
}

footer {
    background: lightyellow;
    border-radius: 5vw;
    margin-bottom: 5vw;
}

ol, ul {
    padding: 0vw 4vw;
}

li {
    margin: 1vw;
}

#welcome-p {
    margin: 2vw;
    font-size: 7vw;
    font-weight: bold;
}

#spoiler-alert-box {
    border: solid 2px var(--flax);
    width: fit-content;
    padding: 2vw;
}

#spoiler-alert {
    animation: blink 1s linear infinite alternate;
    margin: 1vw;
}

@keyframes blink {
    0%{opacity: 0;}
    50%{opacity: .5;}
    100%{opacity: 1;}
}

#story-section {
    border: solid brown;
}

#results-section {
    padding: 2vw;
    height: 10vh;
    font-size: large;
}


@media (min-width: 500px) {

    header {
        margin-bottom: 0;
    }

    p {
        padding: 0;
    }

    img {
        margin: 1vw;
        width: 25%;
    }
    button {
        margin: 1.5vw;
        padding: 1vw;
    }

    ol {
        padding-top: 1vw;
    }

    #welcome-p {
        font-size: 5vw;
    }


    #spoiler-alert-box {
        margin-bottom: 0;
        padding: 1vw;
    }
    
    #results-section {
        padding: 0vw;
        height: 2vh;
    }
}

@media (min-width: 1000px) {

    header {
        margin-top: 0;
    }

    main {
        width: 80vw;
    }

    img {
        width: 20%;
    }

    button {
        margin: 1vw;
        padding: .5vw;
    }

    #welcome-p {
        margin-bottom: 1.5vw;
        font-size: 4vw;
    }

    #spoiler-alert-box {
        padding: .75vw;
    }

    #spoiler-alert {
        margin: .5vw;
    }

    #story-section {
        margin-top: 0;
    }

    #results-section {
        height: 0vh;
    }
}